* {
    margin: 0;
    padding: 0;
}

header img {
    display: block;
    margin: 75px 0 60px 360px;
}

body {
    background-color: #0E1014;
    color: #FFFFFF;
}

h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 24px auto 40px;
    width: 792px;
}

h1 span {
    color: #9747FF;
}

a {
    display: block;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 0 auto;
}

a:hover {
    background-color: #8233E8;
}

main img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 40px auto;
}

@media (max-width: 768px) {

    header img {
        margin: 65px 0 40px 60px;
    }

    p {
        width: 648px;
    }
}

@media (max-width: 375px) {

    header img {
        margin: 32px 0 50px 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        width: 341px;
    }

    a {
        font-size: 20px;
    }

    main img {
        width: 341px;
        height: 231px;
    }
}