* {
    margin: 0;
    padding: 0;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

body {
    background-color: #0E1014;
    color: #FFFFFF;
}

h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}

h1 span {
    color: #9747FF;
}

a {
    display: block;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 0 auto;
}

main img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 40px auto;
}